.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(65, 65, 65);
    width: 200px;
    border-radius: 5px;
    height: 370px;
}




