@import "tailwindcss";

@font-face {
    font-family: font1;
    src: url(../public/fonts/Lausanne-300.woff2);
}
@font-face {
    font-family: font2;
    src: url(../public/fonts/Lausanne-500.woff2);
}


body{
   
    color: white;
}


.movex{
    animation: moveAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.moveLink{
    opacity: 0;
    transform: all;

}

.link:hover .moveLink{
    opacity: 1;

}

@keyframes moveAnimation {
    from {
        transform: translateX(0px);
    }
    to{
        transform: translateX(-100px);
    }
    
}


body::-webkit-scrollbar {
  display: none;
}